@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { }

* {
    font-family:'Raleway', sans-serif; 
}


#btn{
    top: 55%;
    left: 50%;
    padding: 1em;
    background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#howmuch{
    color: pink;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-weight: 10em;
    font-size: 1.6em;
}